* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

/* body {
  overflow-x: hidden;
} */
/* * {
  outline: 2px solid #000 !important;
} */

#wrapper {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url("https://img.freepik.com/premium-vector/yellow-comic-background-with-cloud_530597-303.jpg");
  background-size: cover;
}

#wrapper::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

#head {
  z-index: 20;
}

.container {
  width: 80vmin;
  padding: 50px 40px;
  background-color: black;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 55%;
  left: 50%;
  box-shadow: 20px 20px 40px rgba(97, 63, 0, 0.1);
  border-radius: 10px;
}

span {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 85px;
}

p {
  font-size: 16px;
  color: white;
  font-weight: 400;
  text-align: center;
  line-height: 35px;
  word-wrap: break-word;
  margin: 30px 0;
}

/* .fade {
  opacity: 1;
  transition: opacity 20s;
} */
button#generate:hover {
  background: #ffbf05;
  color: black;
  scale: 1.05;
}
button#generate {
  display: block;
  background-color: transparent;
  border: none;
  padding: 12px;
  font-size: 18px;
  color: #ffbf05;
  font-weight: 500;
  margin: 0 auto;
  border-radius: 25px;
  cursor: pointer;
  border: 2px solid #ffbf05;
  transition: all 0.5s linear;
}

h2 {
  text-align: center;
  color: #11a0e9;
  font-size: 5.3em;
  transition: 0.5s;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
    0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc,
    0 10px 0 #ccc, 0 11px 0 #ccc, 0 12px 0 #ccc, 0 20px 30px rgba(0, 0, 0, 0.5);
}

select#language {
  padding: 5px;
  background-color: #bfbfbf;
  font-size: 17px;
  font-weight: 600;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.5s ease-in;
}
select#language:hover {
  background: white;
}

.pixelated {
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}

.head {
  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.option2 {
  display: none;
}

.option2.active {
  display: flex;
}

.option2 {
  justify-content: center;
  align-items: center;
}

.option1 {
  opacity: 0;
  /* display: none; */
}

.option1.active {
  opacity: 1;
  /* display: block; */
  transition: opacity 2.5s;
}

/*media queries*/

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  span {
    font-size: 60px;
  }
  .head {
    padding: 10px;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 550px) {
  h2 {
    text-shadow: 0 0.5px 0 #ccc, 0 1px 0 #ccc, 0 1px 0 #ccc, 0 2px 0 #ccc,
      0 2px 0 #ccc, 0 3px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc, 0 4px 0 #ccc,
      0 5px 0 #ccc, 0 5px 0 #ccc, 0 5px 0 #ccc, 0 10px 15px rgba(0, 0, 0, 0.5);
    font-size: 3.7rem;
  }

  span {
    font-size: 40px;
  }
  #joke {
    font-size: 12px;
    line-height: 24px;
  }

  select#language {
    padding: 3px;
    font-size: 13px;
  }
}
